<style>
    body{
        background: #36D1DC;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .p-a{
        position: absolute;
    }
    .svg-body{
        min-height: 200px;
    }
    .l1 {
        -webkit-animation: rotation 2s infinite linear;
        stroke: #ff9341;
        stroke-width: px;

    }
    .l2 {
        -webkit-animation: rotation 5s infinite linear;stroke: #ff7054;
        stroke-width: px;
    }
    .l3 {
        -webkit-animation: rotation 3s infinite linear;
        stroke: #ff6970;
        stroke-width: px;
    } .l4 {
          -webkit-animation: rotation 4s infinite linear;
      }

    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    .light-bt{
        border-color: white;
        color: white !important;
        border-width: 2px;
        box-shadow: 0px 0px 10px deepskyblue;
    }
</style>

<div class="container f2" style="color: white">
    <div class="row justify-content-center">
        <div class="col-xl-4">
            <div class="svg-block" style="position: relative;" >
                <div class="svg-body m-5"  >
                    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l1" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="116.1" cy="149.4" r="6.2"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l2" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="206.7" cy="59.7" r="3.1"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l3" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="187.2" cy="78.3" r="6.2"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a " style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="153" cy="112.5" r="20"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 306.7 237"  class="p-a l3" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
            <style type="text/css">
                .st0{display:none;}
                .st1{display:inline;fill:url(#SVGID_1_);}
                .st2{fill:#F1F2F2;}
                .st3{fill:#FFFFFF;}
            </style>
            <g id="Layer_1" class="st0">
            </g>
            <g id="Layer_4">
            </g>
            <g id="Layer_3">
                <circle class="st3" cx="92.9" cy="174.9" r="1.9"/>
            </g>
            <g id="Layer_2">
            </g>
            </svg>
                </div>

                <div class="svg-foot">
                <h5 class="f2 ">Tanmay Singh</h5>
                <h6 class="f2 ">Dwarka, New Delhi</h6>
                    <button class="btn btn-outline-primary light-bt btn-sm">Light up with Tanmay Singh</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-xl-4 text-center">
            <button class="btn btn-outline-primary light-bt">Light Up</button>
            <button class="btn btn-outline-primary light-bt">My Lights</button>
            <button class="btn btn-outline-primary light-bt">Browse</button>
        </div>
    </div>
</div>