<style>
    body{
        background: #232526;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .p-a{
        position: absolute;
    }
    .l1 {
        -webkit-animation: rotation 2s infinite linear;
    }
    .l2 {
        -webkit-animation: rotation 5s infinite linear;
    }
    .l3 {
        -webkit-animation: rotation 3s infinite linear;
    } .l4 {
          -webkit-animation: rotation 4s infinite linear;
      }

    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-4">
            <div class="svg-block">
                <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l1" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="116.1" cy="149.4" r="6.2"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l2" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="206.7" cy="59.7" r="3.1"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a l3" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="187.2" cy="78.3" r="6.2"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 306.7 237" class="p-a " style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
                <style type="text/css">
                    .st0{display:none;}
                    .st1{display:inline;fill:url(#SVGID_1_);}
                    .st2{fill:#F1F2F2;}
                    .st3{fill:#FFFFFF;}
                </style>
                <g id="Layer_1" class="st0">
                </g>
                <g id="Layer_4">
                </g>
                <g id="Layer_3">
                    <circle class="st3" cx="153" cy="112.5" r="20"/>
                </g>
                <g id="Layer_2">
                </g>
                </svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 306.7 237"  class="p-a l3" style="enable-background:new 0 0 306.7 237;" xml:space="preserve">
            <style type="text/css">
                .st0{display:none;}
                .st1{display:inline;fill:url(#SVGID_1_);}
                .st2{fill:#F1F2F2;}
                .st3{fill:#FFFFFF;}
            </style>
            <g id="Layer_1" class="st0">
            </g>
            <g id="Layer_4">
            </g>
            <g id="Layer_3">
                <circle class="st3" cx="92.9" cy="174.9" r="1.9"/>
            </g>
            <g id="Layer_2">
            </g>
            </svg>
            </div>
        </div>
    </div>
</div>